{
  "presets": [
    "@ava/stage-4",
		"@ava/transform-test-files",
    ["env", {
      "modules": false
    }]
  ],
  "plugins": [
    "transform-runtime",
    [
      "component",
      [
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-default"
        }
      ]
    ]
  ],
  "env": {
    "test": {
      "presets": ["env"],
      "plugins": []
    }
  }
}
