// Font imports
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Source+Sans+Pro:300,400');

// Variables
:root {
  --font-stack: 'Roboto', BlinkMacSystemFont, -apple-system, "Oxygen", "Ubuntu", "Fira Sans", "Helvetica", "Arial", sans-serif;

  .light {
    // Light theme variables
    --app-background: #fefefe;
    --app-color: #302f41;
    --sidebar-background: #302f41;
    --sidebar-headline-color: #504f5c;
    --sidebar-color: #6e6d7a;
  }
  .dark {
    // Dark theme variables
    --app-background: #1d1d25;
    --app-color: #fff;
    --sidebar-background: #302f41;
    --sidebar-headline-color: #504f5c;
    --sidebar-color: #6e6d7a;
  }
}

* {
  box-sizing: border-box;
}
