// Font imports
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Source+Sans+Pro:300,400');

// Variables
:root {
  --font-stack: 'Roboto', BlinkMacSystemFont, -apple-system, "Oxygen", "Ubuntu", "Fira Sans", "Helvetica", "Arial", sans-serif;

  .light {
    // Light theme variables
    --font-color: #424242;
    --font-color-invert: #fff;
    --background-color: #fff;
    --icon-color: #787878;
    --border-color: #e8e8e8;
    --content-background: #f6f6f6;
    --sidebar-color: #2b3139;
    --sidebar-color-active: #424952;
    --sidebar-color-hover: lighten(#2b3139, 4);
    --sidebar-color-dark: #23282F;
    --sidebar-title-color: #707780;
    --sidebar-icon-color: #C4C4C4;
    --sidebar-color-active-text: #fff;
    --overlay: rgba(0, 0, 0, .25);
    --overlay-hover: rgba(0, 0, 0, .65);
  }

  .dark {
    // Dark theme variables
    --font-color: #fff;
    --font-color-invert: #1e1e1e;
    --background-color: #1e1e1e;
    --icon-color: #fff;
    --border-color: #2e2e2e;
    --content-background: #1e1e1e;
    --sidebar-color: #383838;
    --sidebar-color-active: #424242;
    --sidebar-color-hover: lighten(#383838, 4);
    --sidebar-color-dark: #282828;
    --sidebar-title-color: #fff;
    --sidebar-icon-color: #fff;
    --sidebar-color-active-text: #fff;
    --overlay: rgba(255, 255, 255, .25);
    --overlay-hover: rgba(255, 255, 255, .65);
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-stack);
  color: var(--font-color);
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
