// Font imports
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Source+Sans+Pro:300,400');

// Variables
:root {
  --font-stack: 'Roboto', BlinkMacSystemFont, -apple-system, "Oxygen", "Ubuntu", "Fira Sans", "Helvetica", "Arial", sans-serif;

  .light {
    // Light theme variables
    --font-color: #424242;
    --font-color-invert: #fff;
    --background-color: #fff;
    --icon-color: #787878;
    --border-color: #e8e8e8;
    --sidebar-color: #2b3139;
    --sidebar-color-active: #424952;
    --sidebar-color-hover: lighten(#2b3139, 4);
    --sidebar-color-dark: #23282F;
    --sidebar-title-color: #707780;
    --sidebar-icon-color: #C4C4C4;
    --overlay: rgba(0, 0, 0, .25);
  }

  .dark {
    // Dark theme variables
    --font-color: #fff;
    --font-color-invert: #fff;
    --background-color: #fff;
    --icon-color: #787878;
    --border-color: #e8e8e8;
    --sidebar-color: #2b3139;
    --sidebar-color-active: #424952;
    --sidebar-color-hover: lighten(#2b3139, 4);
    --sidebar-color-dark: #23282F;
    --sidebar-title-color: #707780;
    --sidebar-icon-color: #C4C4C4;
    --overlay: rgba(0, 0, 0, .25);
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-stack);
  color: var(--font-color);
}

html, body {
  margin: 0;
  padding: 0;
}
